Node Red 1882/flows.json
[
    {
        "id": "416f1a74fdce8926",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b2cc0de61dad3a2",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d6de10f330e3986",
        "type": "tab",
        "label": "Estacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba25357f6c170d19",
        "type": "tab",
        "label": "CRM",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa08b29f25b2e140",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#401e2f",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#401e2f",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#401e2f",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#743655",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#401e2f",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a21e2a6eb69b440e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4111e4c1da474739",
        "type": "ui_group",
        "name": "Redireccionar",
        "tab": "a21e2a6eb69b440e",
        "order": 4,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "81be66aacc7f99b0",
        "type": "ui_group",
        "name": "Gmail:",
        "tab": "a21e2a6eb69b440e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "355ca37c44afaa38",
        "type": "ui_group",
        "name": "Telegram:",
        "tab": "a21e2a6eb69b440e",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76646d7bd18bb340",
        "type": "ui_group",
        "name": "Informacion:",
        "tab": "a21e2a6eb69b440e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb7bad37ee2f02b5",
        "type": "debug",
        "z": "3b2cc0de61dad3a2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a067028a8b51ddc",
        "type": "change",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e68eaf47746d8e24",
        "type": "ui_button",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "group": "81be66aacc7f99b0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Conectarse con Gmail",
        "tooltip": "",
        "color": "",
        "bgcolor": "transparent",
        "className": "",
        "icon": "fa-google",
        "payload": "https://accounts.google.com/signin",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "1c9d302d9c334c7f"
            ]
        ]
    },
    {
        "id": "a08cb13e9886f86d",
        "type": "ui_button",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "group": "355ca37c44afaa38",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Coenctarse a Telegram",
        "tooltip": "",
        "color": "",
        "bgcolor": "transparent",
        "className": "",
        "icon": "fa-telegram",
        "payload": "https://web.telegram.org/a/",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "1c9d302d9c334c7f"
            ]
        ]
    },
    {
        "id": "f23ce64483d21bdb",
        "type": "ui_button",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "group": "76646d7bd18bb340",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Video tutorial",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "fa-camera",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "1c9d302d9c334c7f"
            ]
        ]
    },
    {
        "id": "693c33854147c464",
        "type": "ui_text_input",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "label": "Ingrese aqui el Token de Telegram",
        "tooltip": "",
        "group": "355ca37c44afaa38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "9a067028a8b51ddc",
                "bb7bad37ee2f02b5"
            ]
        ]
    },
    {
        "id": "1c9d302d9c334c7f",
        "type": "ui_template",
        "z": "3b2cc0de61dad3a2",
        "group": "4111e4c1da474739",
        "name": "Logica de redireccionamiento",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope){\n    scope.$watch('msg.payload', function(link) {\n        if (link) window.open(link, '_blank');\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d14cc712e3afde57",
        "type": "telegram receiver",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4372623ce77fe8d4",
        "type": "telegram sender",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 470,
        "y": 460,
        "wires": [
            []
        ]
    }
]