flows.json
[
    {
        "id": "3b2cc0de61dad3a2",
        "type": "tab",
        "label": "Esacion-Noticiaciones",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d6de10f330e3986",
        "type": "tab",
        "label": "Estacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bba19921cbc0102",
        "type": "tab",
        "label": "Informacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba25357f6c170d19",
        "type": "tab",
        "label": "CRM",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62a7d5c8030a6f3d",
        "type": "telegram bot",
        "botname": "proyecto_iot_bomberos_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "aa08b29f25b2e140",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#401e2f",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#8c3657",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#8c3657",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8c3657",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#262626",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#3c3434",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#f4ff9e",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#41404a",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#303031",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8c3657",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 30,
                "gy": 30,
                "cx": 10,
                "cy": 10,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "a21e2a6eb69b440e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-home",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4111e4c1da474739",
        "type": "ui_group",
        "name": "Redireccionar",
        "tab": "8c299c2f0f7af777",
        "order": 8,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "81be66aacc7f99b0",
        "type": "ui_group",
        "name": "Gmail:",
        "tab": "a21e2a6eb69b440e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "355ca37c44afaa38",
        "type": "ui_group",
        "name": "Telegram:",
        "tab": "8c299c2f0f7af777",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76646d7bd18bb340",
        "type": "ui_group",
        "name": "Informacion:",
        "tab": "8c299c2f0f7af777",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c299c2f0f7af777",
        "type": "ui_tab",
        "name": "Estacion",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ef916f3b1c10ddb",
        "type": "ui_group",
        "name": "NTanque",
        "tab": "8c299c2f0f7af777",
        "order": 5,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1170346e6f48de33",
        "type": "ui_group",
        "name": "Template",
        "tab": "8c299c2f0f7af777",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "222335c7c588548b",
        "type": "ui_group",
        "name": "Caudal",
        "tab": "8c299c2f0f7af777",
        "order": 7,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f64cf6f2d6a1bc9",
        "type": "ui_group",
        "name": "Presion",
        "tab": "8c299c2f0f7af777",
        "order": 9,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee958f53a67d2d23",
        "type": "ui_tab",
        "name": "Info",
        "icon": "fa-info",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4dfad305c64e93c6",
        "type": "ui_group",
        "name": "label1",
        "tab": "ee958f53a67d2d23",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27d29fc30f9dd19e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b668004eb6009ad2",
        "type": "ui_group",
        "name": "Tabla",
        "tab": "ee958f53a67d2d23",
        "order": 2,
        "disp": false,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94295d2437ce9f72",
        "type": "ui_group",
        "name": "Detalles",
        "tab": "ee958f53a67d2d23",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da172df73faabb83",
        "type": "ui_group",
        "name": "ComboBox",
        "tab": "8c299c2f0f7af777",
        "order": 3,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "43cc39caf43ab5a8",
        "type": "ui_group",
        "name": "Encabezado_1",
        "tab": "8c299c2f0f7af777",
        "order": 2,
        "disp": false,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc31f63ab16e361c",
        "type": "ui_spacer",
        "z": "7d6de10f330e3986",
        "name": "spacer",
        "group": "da172df73faabb83",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "bb7bad37ee2f02b5",
        "type": "debug",
        "z": "3b2cc0de61dad3a2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a067028a8b51ddc",
        "type": "change",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegram_token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "dab1e37c60ba2186",
        "type": "debug",
        "z": "3b2cc0de61dad3a2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 480,
        "wires": []
    },
    {
        "id": "246547d03ade4dec",
        "type": "telegram receiver",
        "z": "3b2cc0de61dad3a2",
        "name": "recepcion de mensajes",
        "bot": "62a7d5c8030a6f3d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "dab1e37c60ba2186"
            ],
            []
        ]
    },
    {
        "id": "4b20bce5037f1b67",
        "type": "telegram sender",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 290,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a08cb13e9886f86d",
        "type": "ui_button",
        "z": "3b2cc0de61dad3a2",
        "name": "",
        "group": "355ca37c44afaa38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Conectarse a Telegram ",
        "tooltip": "",
        "color": "",
        "bgcolor": "transparent",
        "className": "",
        "icon": "fa-telegram",
        "payload": "https://web.telegram.org/a/",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "1c9d302d9c334c7f"
            ]
        ]
    },
    {
        "id": "f23ce64483d21bdb",
        "type": "ui_button",
        "z": "3b2cc0de61dad3a2",
        "d": true,
        "name": "",
        "group": "76646d7bd18bb340",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Video tutorial",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "fa-camera",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "1c9d302d9c334c7f"
            ]
        ]
    },
    {
        "id": "693c33854147c464",
        "type": "ui_text_input",
        "z": "3b2cc0de61dad3a2",
        "d": true,
        "name": "",
        "label": "Ingrese aqui el Token de Telegram",
        "tooltip": "",
        "group": "355ca37c44afaa38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "9a067028a8b51ddc",
                "bb7bad37ee2f02b5"
            ]
        ]
    },
    {
        "id": "1c9d302d9c334c7f",
        "type": "ui_template",
        "z": "3b2cc0de61dad3a2",
        "group": "355ca37c44afaa38",
        "name": "Logica de redireccionamiento",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope){\n    scope.$watch('msg.payload', function(link) {\n        if (link) window.open(link, '_blank');\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f3856d6c75b4e0f6",
        "type": "comment",
        "z": "3b2cc0de61dad3a2",
        "name": "CSS",
        "info": "",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "67cf83c8bf38507a",
        "type": "ui_template",
        "z": "3b2cc0de61dad3a2",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div>\n<link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n<style>\n    body {\n        --background: #212529;\n        --on-background: white;\n        --surface: #2d3136;\n        --on-surface: white;\n        --primary: var(--nr-dashboard-widgetColor);\n        --on-primary: white;\n        --secondary: var(--nr-dashboard-groupTextColor);\n        --accent: red;\n        --radius-s: 8px;\n        --font-weight-m: 300;\n        --font-weight-m: 500;\n        --font-weight-l: 700;\n        --space-s: 8px;\n        --space-m: 16px;\n        --space-l: 32px;\n    }\n\n    body.nr-dashboard-theme {\n        background-color: var(--background);\n        font-family: 'Montserrat', sans-serif;\n    }\n\n    /* BARRA SUPERIOR y LATERAL ROJOS BOMBERO */\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-sidenav {\n        background-color: #a12034 !important;\n        color: var(--on-background)!important;\n        border: none;\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        background-color: var(--background);\n        border: 0;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: var(--primary);\n        border-radius: var(--radius-s);\n        padding: 8px !important;\n        line-height: inherit;\n        font-weight: var(--font-weight-l);\n        color: var(--on-primary);\n    }\n\n    .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n        white-space: pre-line;\n    }\n    /* el resto igual, SIN cambios extra */\n</style>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 140,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6238bb4f9136194a",
        "type": "inject",
        "z": "7d6de10f330e3986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "e8d9efdfd4d02d81"
            ]
        ]
    },
    {
        "id": "46310eb78894599a",
        "type": "inject",
        "z": "7d6de10f330e3986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "2af01e3217439278"
            ]
        ]
    },
    {
        "id": "85f6cff5bcc55369",
        "type": "inject",
        "z": "7d6de10f330e3986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "1cf88900ca3fe54d"
            ]
        ]
    },
    {
        "id": "e8d9efdfd4d02d81",
        "type": "random",
        "z": "7d6de10f330e3986",
        "name": "",
        "low": "20",
        "high": "120",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "967e8d65a18dde6f"
            ]
        ]
    },
    {
        "id": "2af01e3217439278",
        "type": "random",
        "z": "7d6de10f330e3986",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "276034a667d35413"
            ]
        ]
    },
    {
        "id": "1cf88900ca3fe54d",
        "type": "random",
        "z": "7d6de10f330e3986",
        "name": "",
        "low": 1,
        "high": "2",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "276034a667d35413",
        "type": "ui_gauge",
        "z": "7d6de10f330e3986",
        "name": "",
        "group": "9ef916f3b1c10ddb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel del tanque",
        "label": "%",
        "format": "{{value| number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30c00",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "f2adc788e2c1ec7a",
        "type": "inject",
        "z": "7d6de10f330e3986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "0ce7e2d69b41c17c"
            ]
        ]
    },
    {
        "id": "0ce7e2d69b41c17c",
        "type": "random",
        "z": "7d6de10f330e3986",
        "name": "",
        "low": "10",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "e80dd09a1f98e5d7"
            ]
        ]
    },
    {
        "id": "f62a90d1fde440ba",
        "type": "comment",
        "z": "7d6de10f330e3986",
        "name": "Presión",
        "info": "",
        "x": 110,
        "y": 180,
        "wires": []
    },
    {
        "id": "017e724906304e30",
        "type": "comment",
        "z": "7d6de10f330e3986",
        "name": "Nivel de tanque",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "36e2c054b9929f02",
        "type": "comment",
        "z": "7d6de10f330e3986",
        "name": "Caudal",
        "info": "",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "e6681d470fa9f7ac",
        "type": "comment",
        "z": "7d6de10f330e3986",
        "name": "Estado bomba1/bomba2",
        "info": "",
        "x": 210,
        "y": 480,
        "wires": []
    },
    {
        "id": "24e18254a0b54b18",
        "type": "ui_dropdown",
        "z": "7d6de10f330e3986",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Selecciona una bomba de agua",
        "group": "da172df73faabb83",
        "order": 1,
        "width": 11,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bomba 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Bomba 2",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "5c35ebdf73347989"
            ]
        ]
    },
    {
        "id": "98ae1d0c019e36a9",
        "type": "ui_text",
        "z": "7d6de10f330e3986",
        "group": "43cc39caf43ab5a8",
        "order": 1,
        "width": 20,
        "height": 1,
        "name": "",
        "label": "Informacion de la estacion",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": "18",
        "color": "#000000",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "967e8d65a18dde6f",
        "type": "ui_gauge",
        "z": "7d6de10f330e3986",
        "name": "",
        "group": "222335c7c588548b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Caudal del agua",
        "label": "l/s",
        "format": "{{value| number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30c00",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "e80dd09a1f98e5d7",
        "type": "ui_gauge",
        "z": "7d6de10f330e3986",
        "name": "",
        "group": "5f64cf6f2d6a1bc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Presion del Tanque",
        "label": "psi",
        "format": "{{value| number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30c00",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c35ebdf73347989",
        "type": "switch",
        "z": "7d6de10f330e3986",
        "name": "if de bomba",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5c0039fa7148d0f1",
        "type": "ui_table",
        "z": "5bba19921cbc0102",
        "group": "b668004eb6009ad2",
        "name": "",
        "order": 2,
        "width": 15,
        "height": 8,
        "columns": [
            {
                "field": "timestamp",
                "title": "Fecha y hora del registro",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "presion",
                "title": "PSI",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "caudal",
                "title": "l/s",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nivel_tanque",
                "title": "% Del Tanque",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "bomba1",
                "title": "Bomba 1",
                "width": "",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "bomba2",
                "title": "Bomba 2",
                "width": "",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "f1bcab3184fba64e"
            ]
        ]
    },
    {
        "id": "c3907e816360de9f",
        "type": "ui_text",
        "z": "5bba19921cbc0102",
        "group": "b668004eb6009ad2",
        "order": 1,
        "width": 15,
        "height": 1,
        "name": "",
        "label": "Informacion de la estacion",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": "18",
        "color": "#000000",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "06028a1372a95266",
        "type": "mqtt in",
        "z": "5bba19921cbc0102",
        "name": "",
        "topic": "Utmach/6A/KvPZ/ProyectoBomberos/Info",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27d29fc30f9dd19e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "5c0039fa7148d0f1"
            ]
        ]
    },
    {
        "id": "42f26a2769554530",
        "type": "mqtt out",
        "z": "5bba19921cbc0102",
        "name": "",
        "topic": "Utmach/6A/KvPZ/ProyectoBomberos/Info",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27d29fc30f9dd19e",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "d4113765cc8c613d",
        "type": "inject",
        "z": "5bba19921cbc0102",
        "name": "Datos para la tabla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"timestamp\":\"2025-10-26T20:30:00\",\"presion\":2.4,\"caudal\":120,\"nivel_tanque\":75,\"bomba1\":\"on\",\"bomba2\":\"off\"},{\"timestamp\":\"2025-10-26T20:35:00\",\"presion\":2.7,\"caudal\":125,\"nivel_tanque\":78,\"bomba1\":\"off\",\"bomba2\":\"on\"},{\"timestamp\":\"2025-10-26T20:40:00\",\"presion\":2.5,\"caudal\":118,\"nivel_tanque\":74,\"bomba1\":\"on\",\"bomba2\":\"off\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "42f26a2769554530"
            ]
        ]
    },
    {
        "id": "f1bcab3184fba64e",
        "type": "ui_template",
        "z": "5bba19921cbc0102",
        "group": "94295d2437ce9f72",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div class=\"form-container\">\n    <form>\n        <div class=\"form-group\">\n            <label for=\"fecha\">Fecha:</label>\n            <input type=\"text\" id=\"fecha\" value=\"{{msg.payload.Fecha}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"hora\">Hora:</label>\n            <input type=\"text\" id=\"hora\" value=\"{{msg.payload.Hora}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"cliente\">Cliente:</label>\n            <input type=\"text\" id=\"cliente\" value=\"{{msg.payload.Cliente}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"sala\">Sala:</label>\n            <input type=\"text\" id=\"sala\" value=\"{{msg.payload.Sala}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"personas\">N° Personas:</label>\n            <input type=\"text\" id=\"personas\" value=\"{{msg.payload.Personas}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"equipo\">Equipo:</label>\n            <input type=\"text\" id=\"equipo\" value=\"{{msg.payload.Equipo}}\" disabled>\n        </div>\n\n        <div class=\"form-group\">\n            <label for=\"proposito\">Propósito:</label>\n            <input type=\"text\" id=\"proposito\" value=\"{{msg.payload.Proposito}}\" disabled>\n        </div>\n    </form>\n</div>\n\n<style>\n    .form-container {\n    font-family: inherit;\n    padding: 10px;\n    width: 100%;\n    max-width: 400px;\n    margin: 0 auto;\n    }\n    \n    .form-group {\n    margin-bottom: 10px;\n    }\n    \n    label {\n    display: block;\n    font-weight: bold;\n    margin-bottom: 5px;\n    }\n    \n    input[type=\"text\"] {\n    font-family: inherit;\n    width: 100%;\n    padding: 8px;\n    font-size: 16px;\n    color: inherit;\n    cursor: not-allowed;\n    background-color: inherit; /* Asegura que el fondo se herede del contenedor */\n    }\n    \n    input[type=\"text\"]:disabled {\n    background-color: inherit; /* Puedes personalizar este color si deseas algo diferente */\n    }\n    \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "98c14654e1f53e2d",
        "type": "ui_text_input",
        "z": "5bba19921cbc0102",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "94295d2437ce9f72",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    }
]